.skill-card {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;

  max-width: 160px;
  // background-color: var(--accent);
  border-radius: 10px;
  margin: 1rem;
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 5px 10px var(--accent); // COLOR
  }
}

@media screen and (max-width: 768px) {
  .skill-card {
    width: 120px;
    height: 120px;
    max-width: 200px;
  }
}
