.app__theme-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: orange;
  margin: 0 5px 15px 15px;
}
.app__theme-btn svg {
  height: 1.6rem;
  width: 1.6rem;
}