.about-section {
  padding: 1.5rem;
  display: grid;
  column-gap: 40px;
}
.about-card {
  background-color: rgba(58, 175, 169, 0.5);
  // border-radius: 35%;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
  // border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  .profile {
    border: 5px solid var(--accent);
    border-radius: 50%;
    // border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    // animation: morphing 5s infinite;
    // transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
.read-more{
  cursor: pointer;
}
@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}

.typing-greeting {
  width: 9ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  align-self: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 auto;
    width: 40%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 40%;
  }
}
