.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-align: none;
  text-decoration: none;
  color: var(--text-primary);
  &:hover {
    color: orange;
  }
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--accent);
}
.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar_link-container {
  justify-content: right;
  display: flex;
  align-items: center;
}
