.work-timeline {
  margin-top: 64px;

  .vertical-timeline.vertical-timeline--two-columns {
    width: 75%;
  }
}

.timeline-box {
  .vertical-timeline-element-content {
    background-color: var(--accent);
    color: var(--text-dark);
  }
}

h4 {
  padding-top: 0.25em;
}

.techStack {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;

  .vertical-timeline-element-content-arrow {
    border-right: 7px solid #3aafa9 !important;
  }
}


.date {
  color: var(--text-primary);
}

#description {
  margin: 1.5em 0 2em 0;
  color: var(--text-dark);
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
  &:hover{color: orange !important}
}

.workButton {
  background-color: var(--work-button);
 
  
}


.schoolButton {
  background-color: #f9c74f;
  display: none;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

.vertical-timeline-element-date {
  position: relative;
}

.more-experience {
  color: white;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: orange;
  }

}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    position: relative !important;
    width: 100%;
    left: 0 !important;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    position: relative;
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}