#skills-section {
  margin-top: 20px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  grid-auto-rows: 100px;
  margin: 48px 0px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    grid-auto-rows: 100px;
    margin: 48px 0px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    grid-auto-rows: 100px;
    margin: 48px 0px;
  }
}
