.container {
  margin-right: auto;
}

.grid {
  display: grid;
}

.App-link {
  color: var(--text-secondary);
}
/* button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all 0.5s;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__theme-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: orange;
  margin: 0 5px 8px 20px;
}
.app__theme-btn svg {
  height: 2rem;
  width: 2rem;
}
.App {
  color: var(--text-primary);
  background-color: var(--background);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0;
  /* height: 100vh; */
}
