/* 
:root {
  --background: #def2f1;
  --text-primary: #17252a;
  --text-secondary: #2b7a78;
  --accent: #3aafa9;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}
[data-theme="dark"] {
  --background: #17252a;
  --text-primary: #def2f1;
  --text-secondary: #2b7a78;
  --accent: #3aafa9;
}
body {
  margin: 0;
  padding: 0;
 
} */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
:root {
  --font-base: "DM Sans", sans-serif;
  ---background: white;
  --text-primary: #17252a;
  --text-secondary: #17252a;
  --text-dark: #17252a;
  --dark-shadow: #17252a;
--work-button: #17252a;

  --accent: #3aafa9;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

[data-theme="dark"] {
  --background: #17252a;
  --text-primary: #def2f1;
  --text-secondary: #2b7a78;
  --accent: #3aafa9;
  --text-dark: #17252a;
  --dark-shadow: #2b7a78;

}

/* max-width: 200px;
border-radius: 40px;
transition: transform 0.3s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
border: 1px solid rgb(88, 88, 88); */
